/*
 Text CSS ~ Vertical Rhythm
 http://fluid24.org/
 */

/*
 12px font size, with 18px line height
 1em / 16px x 12px = 0.750em
 18 / 12 = 1.5em
*/
body { font: 0.75em/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; }

/*
 1em now = 12px
 h1 = 18px, 18px/12px = 1.5em
 line-heigh = 18px/18px = 1em
 ...
 h1=18px, h2=16px, h3=14px
 for more help: http://pxtoem.com/
 */
h1 { font-size: 1.5em;   line-height: 1em;     margin-bottom: 1em;     }
h2 { font-size: 1.333em; line-height: 1.125em; margin-bottom: 1.125em; }
h3 { font-size: 1.167em; line-height: 1.285em; margin-bottom: 1.285em; }
h4 { font-size: 1em;     line-height: 1.5em;   margin-bottom: 1.5em;   }

/* Text elements */
p, ul, blockquote, pre, code, tt, td, th, label {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  line-height: 1.5em;
}
pre,code,tt { font-family: 'andale mono', 'lucida console', monospace; }

/* misc */
.large    { font-size: 1.25em;  line-height: 1.2em; margin-bottom: 1.2em; }
.small    { font-size: 0.833em; line-height: 1.8em; margin-bottom: 1.8em; }
.sidenote { font-size: 0.75em;  line-height: 2em;   margin-bottom: 2em;   }
.hide     { display: none; }
.center   { text-align: center; }

hr {
  border: 0 #ccc solid;
  border-top-width: 0.06em;
  clear: both;
  height: 0;
}
