<article class="blog-post teaser">
  <header>
    <h1>
      {{ article.title }}
    </h1>

    <p>
      Posted on the
      <time>{{ article.created_on|date:'jS E Y' }}</time>
      in
      {% for category in article.categories.all %}
        <a href="{{ category.get_url }}">{{ category.name }}</a>
      {% endfor %}
      by {{ article.created_by }}
    </p>
  </header>

  <section class="content">
    {{ article.teaser|safe }}
  </section>

  <a class="purple-btn" href="{{ article.get_url }}">Continue reading</a>
</article>
