<h1>Categories</h1>

<hr>

{% if categories %}

  <ul class="category_list">
    {% for category in categories %}
      <li>
        <a href="{{ category.get_url }}">{{ category.name }}</a>
      </li>
    {% endfor %}
  </ul>

{% else %}
  There aren't any categories yet.
{% endif %}
