@import "common"

html,
body
  height: 100%

body
  color: $color-dark-desaturated-blue

  > .inner
    min-height: 100%
    position: relative

    > header
      $h1-height: 120px

      background-color: $color-very-dark-gray
      width: 100%
      margin-bottom: $h1-height / 2

      nav
        $nav-height: 100px

        background-color: $color-white
        height: $nav-height
        //line-height: $nav-height
        //padding-top: 40px
        text-align: right

        > div
          padding-top: 40px

        $image: 'whistler-logo-s.png'

        a:not(.purple-btn)
          //display: inline-block
          padding: 0 16px
          font-weight: bold
          color: $color-dark-desaturated-blue

          &.logo
            display: block
            float: left
            background-image: image-url($image)
            background-position: top
            width: image-width($image)
            height: image-height($image) / 2
            margin-top: -10px
            padding: 0

            &:hover
              background-position: bottom

        .purple-btn
          display: inline
          padding: 12px 32px

      h1
        height: $h1-height
        line-height: $h1-height
        font-size: 2em

        &, a
          color: $color-white

    $footer-height: 60px
    $footer-padding-top: 16px

    #main_content
      padding-bottom: $footer-height + $footer-padding-top + 40px

    > footer
      overflow: hidden
      background-color: $color-very-light-gray
      height: $footer-height
      padding-top: $footer-padding-top

      position: absolute
      bottom: 0

      .content
        font-size: .8em

      .sign
        text-align: right

        a
          color: inherit

#main_column
  min-height: 1px

#side_column
  hr
    margin-bottom: 16px

  .category_list
    line-height: 2em
