@import "common"

#main_content.blog
  .article_list
    li:not(:first-of-type)
      border-top: 1px solid $color-common-separator
      padding-top: 40px

  .blog-post
    h1
      font-size: 2.4em

    .purple-btn
      margin: 20px 0
      padding: 8px 24px
