@import "common"

a
  color: $color-dark-moderate-pink
  text-decoration: none

  &:hover
    text-decoration: underline

hr
  border: solid $color-common-separator
  border-width: 1px 0 0

.purple-btn
  display: inline-block
  background-color: $color-dark-pink
  color: $color-white
  min-width: 88px
  padding: 10px 12px
  white-space: nowrap
  overflow: hidden
  text-align: center
  text-overflow: ellipsis
  @include border-radius(4px)
  @include user-select(none)

h1
  font-family: serif
  font-style: italic

.container_24
  width: 80%
  margin: 0 auto

.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
  font-size: 0
