{% extends 'blog/base.html' %}


{% block main_column %}
  {% if article_list %}

    <ul class="article_list">
      {% for article in article_list %}
        <li>
          {% include 'blog/includes/article_teaser.html' %}
        </li>
      {% endfor %}
    </ul>

  {% else %}
    No entries found.
  {% endif %}
{% endblock %}
