{% extends 'blog/base.html' %}


{% block main_column %}
  <article class="blog-post">
    <header>
      <h1>
        {{ article.title }}
      </h1>

      <p>
        Posted on the
        <time>{{ article.created_on|date:'jS E Y' }}</time>
        in
        {% for category in article.categories.all %}
          <a href="{{ category.get_url }}">{{ category.name }}</a>
        {% endfor %}
      </p>
    </header>

    <a class="purple-btn" href="">Share</a>

    <section class="content">
      {{ article.content|safe }}
    </section>

    <a class="purple-btn" href="">Share</a>

    <footer>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'example';

        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </footer>
  </article>
{% endblock %}
