/* line 3, ../../pregen/sass/_global.sass */
a {
  color: #aa5577;
  text-decoration: none;
}
/* line 7, ../../pregen/sass/_global.sass */
a:hover {
  text-decoration: underline;
}

/* line 10, ../../pregen/sass/_global.sass */
hr {
  border: solid #cccccc;
  border-width: 1px 0 0;
}

/* line 14, ../../pregen/sass/_global.sass */
.purple-btn {
  display: inline-block;
  background-color: #962957;
  color: white;
  min-width: 88px;
  padding: 10px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 27, ../../pregen/sass/_global.sass */
h1 {
  font-family: serif;
  font-style: italic;
}

/* line 31, ../../pregen/sass/_global.sass */
.container_24 {
  width: 80%;
  margin: 0 auto;
}

/* line 35, ../../pregen/sass/_global.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

/* line 3, ../../pregen/sass/_base.sass */
html,
body {
  height: 100%;
}

/* line 7, ../../pregen/sass/_base.sass */
body {
  color: #334455;
}
/* line 10, ../../pregen/sass/_base.sass */
body > .inner {
  min-height: 100%;
  position: relative;
}
/* line 14, ../../pregen/sass/_base.sass */
body > .inner > header {
  background-color: #333333;
  width: 100%;
  margin-bottom: 60px;
}
/* line 21, ../../pregen/sass/_base.sass */
body > .inner > header nav {
  background-color: white;
  height: 100px;
  text-align: right;
}
/* line 30, ../../pregen/sass/_base.sass */
body > .inner > header nav > div {
  padding-top: 40px;
}
/* line 35, ../../pregen/sass/_base.sass */
body > .inner > header nav a:not(.purple-btn) {
  padding: 0 16px;
  font-weight: bold;
  color: #334455;
}
/* line 41, ../../pregen/sass/_base.sass */
body > .inner > header nav a:not(.purple-btn).logo {
  display: block;
  float: left;
  background-image: url('/static/images/whistler-logo-s.png?1399478866');
  background-position: top;
  width: 62px;
  height: 40px;
  margin-top: -10px;
  padding: 0;
}
/* line 51, ../../pregen/sass/_base.sass */
body > .inner > header nav a:not(.purple-btn).logo:hover {
  background-position: bottom;
}
/* line 54, ../../pregen/sass/_base.sass */
body > .inner > header nav .purple-btn {
  display: inline;
  padding: 12px 32px;
}
/* line 58, ../../pregen/sass/_base.sass */
body > .inner > header h1 {
  height: 120px;
  line-height: 120px;
  font-size: 2em;
}
/* line 63, ../../pregen/sass/_base.sass */
body > .inner > header h1, body > .inner > header h1 a {
  color: white;
}
/* line 69, ../../pregen/sass/_base.sass */
body > .inner #main_content {
  padding-bottom: 116px;
}
/* line 72, ../../pregen/sass/_base.sass */
body > .inner > footer {
  overflow: hidden;
  background-color: #eeeeee;
  height: 60px;
  padding-top: 16px;
  position: absolute;
  bottom: 0;
}
/* line 81, ../../pregen/sass/_base.sass */
body > .inner > footer .content {
  font-size: 0.8em;
}
/* line 84, ../../pregen/sass/_base.sass */
body > .inner > footer .sign {
  text-align: right;
}
/* line 87, ../../pregen/sass/_base.sass */
body > .inner > footer .sign a {
  color: inherit;
}

/* line 90, ../../pregen/sass/_base.sass */
#main_column {
  min-height: 1px;
}

/* line 94, ../../pregen/sass/_base.sass */
#side_column hr {
  margin-bottom: 16px;
}
/* line 97, ../../pregen/sass/_base.sass */
#side_column .category_list {
  line-height: 2em;
}

/* line 5, ../../pregen/sass/_blog.sass */
#main_content.blog .article_list li:not(:first-of-type) {
  border-top: 1px solid #cccccc;
  padding-top: 40px;
}
/* line 10, ../../pregen/sass/_blog.sass */
#main_content.blog .blog-post h1 {
  font-size: 2.4em;
}
/* line 13, ../../pregen/sass/_blog.sass */
#main_content.blog .blog-post .purple-btn {
  margin: 20px 0;
  padding: 8px 24px;
}
