<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block head %}
      {% block head_meta %}
        <meta charset="utf-8">
      {% endblock %}

      {% block head_css %}{% endblock %}

      <title>{% block title %}Whistler{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div class="inner">
      {% block main_container %}{% endblock %}
    </div>

    {% block body_append %}{% endblock %}
  </body>
</html>
