{% extends 'base.html' %}

{% load local_site %}


{% block head_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/fluid24/reset.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/fluid24/fluid24.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/fluid24/text.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}


{% block main_container %}
  <header>
    {% block main_header %}
      <nav>
        <div class="container_24 clearfix">
          <a href="/" class="logo"></a>

          <a href="{% url 'blog:latest-posts' %}">Latest blogs</a>
          <a href="{% url 'blog:new-bloggers' %}">New bloggers</a>

          <a class="purple-btn" href="#">Sign up for free</a>
        </div>
      </nav>

      <h1 class="container_24 clearfix">
        {% block page_title %}Blog{% endblock %}
      </h1>
    {% endblock %}
  </header>

  <div
    id="main_content"
    class="container_24 clearfix {% block main_content_class %}{% endblock %}"
  >
    {% block main_content %}
      <section id="main_column" class="grid_16">
        {% block main_column %}{% endblock %}
      </section>

      <section id="side_column" class="grid_7 prefix_1">
        {% block side_column %}
          {% display_categories %}
        {% endblock %}
      </section>
    {% endblock %}
  </div>

  <footer>
    <div class="container_24 ">
      {% block main_footer %}
        <section class="content grid_16">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          blandit consequat elit, ac volutpat nulla molestie quis. Morbi
          blandit nulla at turpis fermentum ultricies. Sed hendrerit ipsum
          elit, non dictum ligula tincidunt sed. Sed ac nisl sed sapien
          molestie venenatis.
        </section>

        <section class="sign grid_7 prefix_1">
          Designed & built by
          <a href="http://onespacemedia.co.uk">Onespacemedia</a>
        </section>
      {% endblock %}
      <div class="clear"></div>
    </div>
  </footer>
{% endblock %}


{% block body_append %}
  <script type="text/javascript">
    var disqus_shortname = 'example';

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
{% endblock %}
